<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body topmargin="0">
<div align="center" id="EditUserPopup">
<!-- notification div start -->
<div align="center">
 <table border="0" cellpadding="0" cellspacing="0" width="700">
  <!--[onload_3;block=table;when [var.show_notification]=1;comm]-->
    <tr>
      <td width="92%">
              <div id="message_popup">
                <div align="center"><font face="Arial" size="2">[var.message]
					</font> </div>
              </div>
              <font face="Arial" size="2">
              <!-- notifications end -->
        		</font>
        </td>
    </tr>
  </table>
</div>
<font face="Arial" size="2">
<!-- notification div end -->
</font>
<table border="0" width="700" cellspacing="0" cellpadding="0" height="106" style="border: 1px solid #D1D1D1; ">
<form id="edit_group" action="editgroup.php" method="post">
	<tr>
		<td width="822" height="33" align="center" class="default_text_blue" colspan="3" background="images/background_tables.png">
        <p align="left"><font size="2" face="Arial">&nbsp; </font> <b>
        <font face="Arial" color="#0099CC">[var.land_edit_groups]</font></b></p>
        </td>
	</tr>
	<tr>
		<td width="698" height="40" align="right" class="default_text" colspan="3">
        <p align="center">
		<font face="Arial" color="#666666"> <b>&nbsp;[var.group_name]</b></font></td>
	</tr>
	<tr>
		<td width="222" height="25" bgcolor="#F0F0F0" align="right" class="default_text">
        <font size="2" color="#333333" face="Arial">[var.lang_group_name]&nbsp;&nbsp; </font></td>
		<td width="8" height="25" bgcolor="#F5F5F5" align="right" class="default_text">
        &nbsp;</td>
		<td width="461" height="30" bgcolor="#F5F5F5" align="left" class="default_text">
        <p align="left">
        <font color="#333333" face="Arial">
        <input name="group_name" size="43" value="[var.group_name]" style="float: left" /></font></p>
        </td>
	</tr>
	<tr>
		<td width="222" height="25" bgcolor="#F0F0F0" align="right" class="default_text">
        <font size="2" color="#333333" face="Arial">[var.lang_description]&nbsp;&nbsp; </font></td>
		<td width="8" height="25" bgcolor="#F5F5F5" align="right" class="default_text">
        &nbsp;</td>
		<td width="461" height="60" bgcolor="#F5F5F5" align="left" class="default_text">
        <p align="left">
        <font color="#333333" face="Arial">
        <textarea rows="3" name="group_description" cols="54">[var.group_description;htmlconv=no]</textarea></font></td>
	</tr>
	<tr>
		<td width="222" height="25" bgcolor="#F0F0F0" align="right">
        <font size="2" color="#333333" face="Arial">[var.lang_private_pub]&nbsp;&nbsp; </font></td>
		<td width="8" height="25" bgcolor="#F5F5F5" align="right">
        &nbsp;</td>
		<td width="461" height="25" bgcolor="#F5F5F5" align="left">
        <select size="1" name="public_private">
    <option value="public" [var.public_private_public]>[var.lang_public] </option>
    <option value="private" [var.public_private_private]>[var.lang_private]</option>
  </select></td>
	</tr>
	<tr>
		<td width="222" height="25" bgcolor="#F0F0F0" align="right">
        <font size="2" color="#333333" face="Arial">&nbsp;&nbsp; </font></td>
		<td width="8" height="25" bgcolor="#F5F5F5" align="right">
        &nbsp;</td>
		<td width="461" height="30" bgcolor="#F5F5F5" align="left">
        <p align="left">
        <font color="#333333" face="Arial"><input type="submit" value="[var.lang_submit]" name="submit" /></font><font color="#333333"><input type="hidden" name="submitted" value="yes" />
		</font><font color="#333333">
<input type="hidden" name="id" value="[var.id]" /></font></p>
        </td>
	</tr>
	</form>
</table>
</body>

</html>