<html>

<head>
<meta http-equiv="Content-Language" content="en-gb">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>PhpMotion System Manager</title>
	<link href="[var.base_url]/css/styles.css" rel="stylesheet" type="text/css" />
<script language="javascript1.3" src="[var.base_url]/javascripts/ahah.js" ></script>
<script>

//Check all radio/check buttons script- by javascriptkit.com
//Visit JavaScript Kit (http://javascriptkit.com) for script
//Credit must stay intact for use


function checkall(thestate){
var el_collection = document.forms['form_results'].elements['list[]'];
for (var c=0;c<el_collection.length;c++)
el_collection[c].checked=thestate
var el_collection = document.forms['form_results'].elements['list[]1'];
for (var c=0;c<el_collection.length;c++)
el_collection[c].checked=thestate
}

</script>
<style type="text/css">

td.off {
background: #A4A4A4;
}

</style>
<!-- addnon - start of thickbox -->
   <link rel="stylesheet" href="[var.base_url]/css/thickbox.css" type="text/css" media="screen" />
   <script type="text/javascript" src="[var.base_url]/javascripts/jquery.js"></script>
   <script type="text/javascript" src="[var.base_url]/javascripts/thickbox.js"></script>
<!-- addnon - end of thickbox -->
</head>

<body topmargin="0">

<div align="center">
	<table style="border-style: solid; border-width: 0; " bordercolor="#4B87C2" width="758" bgcolor="#FFFFFF" id="table1" cellspacing="0" cellpadding="0">
		<!-- start of search box -->
	<tr>
<!-- end of search box -->
	<!-- admin password -->
	<tr>
	<td bgcolor="#FFFFFF">
      <div align="center">
        <center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="170">
          <tr>
            <td width="100%" height="32" background="images/right_table_header.png" align="left"><font face="Arial" size="2"><b>&nbsp;
              [var.lang_video_categories]&nbsp; </b><font color="#4B87C2">
			<a href="categories_videos_transfer.php"><font color="#4B87C2">Move 
			Videos</font></a></font></font></td>
          </tr>
          <tr>
            <td width="100%" height="21" align="left">&nbsp;</td>
          </tr>
          <tr>
            <td width="100%" height="25">
              <table border="0" width="100%" id="table2" cellspacing="0" cellpadding="3">
					<form method="POST" action="categories_videos.php">
              
				<tr>
					<td width="45%" height="33">
                    <p align="left">
					<font face="Arial" size="2" color="#4B87C2">
					<a style="text-decoration: none; font-weight:700" href="categories_videos.php">
					<font color="#4B87C2">&nbsp;[var.lang_main_categories]</font></a></font></p>
                    </td>
					<td width="54%">&nbsp;</td>
				</tr>
									</form>

				</table>
				<table border="0" width="100%" id="table2" cellspacing="0" cellpadding="3" height="506">
				  <form method="POST" action="categories_videos.php">
				<tr><!--[onload_15;block=tr;when [var.has_category]=0;comm]-->
					<td bgcolor="#F0F0F0" colspan="2" height="75" style="line-height: 200%">
						<p align="center"><font face="Arial" size="2">[var.lang_nothing_found]</font><p align="center">
						<font face="Arial" size="2">[var.lang_you_can_create_one_now]</font></td>
				</tr>
				<tr>
				<!--[onload_11;block=tr;when [var.has_category]=1;comm]-->
					<td bgcolor="#F0F0F0" colspan="2" style="line-height: 200%">
						<p align="center">
						<font color="#4B87C2" face="Arial">
						<select size="7" name="main_category" style="font-weight: 700">
						<!--[var.category_list;htmlconv=no;comm]-->
						</select></font>
						<p align="center">
						<font face="Arial" size="2"><b>(x) </b>= [var.lang_total] 
						- [var.lang_word_videos]</font></td>
				</tr>
				<tr>
				<!--[onload_12;block=tr;when [var.has_category]=1;comm]-->
					<td bgcolor="#F0F0F0" colspan="2" height="40" style="line-height: 200%">
						<p align="center">
						<input type="submit" value="[var.lang_edit_main_category]" name="edit_category">&nbsp; 
						<input type="submit" value="[var.lang_load_subcat]" name="load_subcategory">&nbsp; <input name="delete_main_category" type="submit" id="delete_main_category" style="font-family: Arial; font-size: 10pt; letter-spacing: 1; color: #c31c23; border: 1px solid #c31c23; background-color: #FFFFFF" onClick="return(window.confirm('[var.lang_delet_video_cat_confirm]'))" value="[var.lang_delete_general]"></td>
				</tr>
				<tr>
					<td width="99%" colspan="2" background="images/right_table_header.png" height="30">
                        <p align="left">
						<font face="Arial" size="2" color="#4B87C2">&nbsp;<a style="text-decoration: none; font-weight:700" href="categories_videos.php"><font color="#4B87C2">[var.lang_main_categories]</font></a> 
						&gt;&gt; </font><font face="Arial" size="2" color="#C31C23">[var.current_title1]</font></p>
                    </td>
				</tr>
				<tr>
					<td width="46%" height="40" bgcolor="#F0F0F0">
						<p align="right"><font face="Arial" size="2">[var.lang_title]</font></p>
					</td>
					<td bgcolor="#F0F0F0" width="53%" height="39" align="left">
						<font face="Arial">
					  <input type="text" name="title" size="33" value="[var.title]"></font></td>
				</tr>
				<tr>
					<td bgcolor="#F0F0F0" width="46%" height="49">
						<p align="right"><font face="Arial" size="2">[var.lang_description]</font></td>
					<td bgcolor="#F0F0F0" width="53%" align="left">
						<font face="Arial">
						<textarea rows="2" name="description" cols="27">[var.description]</textarea></font></td>
				</tr>
				<tr>
				<!--[onload_17;block=tr;when [var.edit_category]=0;comm]-->
					<td bgcolor="#F0F0F0" width="46%" height="43">&nbsp;
						</td>
					<td bgcolor="#F0F0F0" width="53%" align="left">
						<font face="Arial">
						<input type="submit" value="[var.lang_new_category]" name="new_category"></font></td>
				</tr>
				<tr>				<!--[onload_18;block=tr;when [var.edit_category]=1;comm]-->
					<td bgcolor="#A4A4A4" width="46%" height="43">
						<p align="right">&nbsp;</td>
					<td bgcolor="#A4A4A4" width="53%" align="left">
						<font face="Arial">
										    <input type="hidden" name="main_category_on_edit" value="[var.channel_id]">
						<input type="submit" value="[var.lang_edit_main_category]" name="actual_edit_category">&nbsp;
						</font> </td>
				</tr>
									</form>

				</table>
			</td>
        <center>
          </tr>
          </table>
      </div>
    </td>
	</tr>
	<!-- admin password end -->
	<!-- other-->
	<!-- other end-->

	</table>
</div>

</body>

</html>