

<head>
<title></title>
</head>

<body topmargin="0">

<div align="center"><form action="settings_features.php" method="post">
	<table border="0" cellpadding="0" cellspacing="0" width="758" bgcolor="#FFFFFF" id="table4">
					<tr>
						<table border="0" cellpadding="0" cellspacing="0" width="761" bgcolor="#FFFFFF" id="table5" height="401">
						
							<tr>
								<td colspan="3" height="32" width="754" background="images/right_table_header.png">
                                <p align="left"><b><font face="Arial" size="2">
								&nbsp; <font color="#29537C">[var.lang_enabled_features]</font></font></b></td>
							</tr>
							<tr>
								<td width="350" height="34">
                                  <p align="right">
                                  <b>[var.lang_main_features]</b>
                                  </p>
 </td>
								<td width="18" height="34">&nbsp;</td>
								<td width="448" height="34" align="left"> &nbsp;</tr>
							<tr>
								<td width="350" height="35" bgcolor="#EFEFEF"><p align="right">
                                <font color="#333333">[var.lang_word_Audio]</font> </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left"> <select size="1" name="audio">
                                    <option value="yes" [var.audio_yes]>[var.lang_yes]</option>
                                    <option value="no" [var.audio_no]>[var.lang_no]</option>
                                  </select>
							</tr>
							<tr>
								<td width="350" height="35" bgcolor="#EFEFEF"><p align="right">
                                <font color="#333333">[var.lang_word_images]</font> </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left">
                                <select size="1" name="images">
                                  <option value="yes" [var.images_yes]>[var.lang_yes]</option>
                                  <option value="no" [var.images_no]>[var.lang_no]</option>
                                </select>
							</tr>
							<tr>
								<td width="350" height="35" align="right" bgcolor="#EFEFEF">[var.lang_blogs]</td>
								<td width="18" height="35" align="right" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left"><select size="1" name="blogs">
                                    <option value="yes" [var.blogs_yes]>[var.lang_yes]</option>
                                    <option value="no" [var.blogs_no]>[var.lang_no]</option>
                                  </select></tr>
							<tr>
								<td width="313" height="46" align="right" bgcolor="#FFFFFF">
                                <p align="right"><b>[var.lang_comments]</b></td>
								<td width="18" height="46" align="right" bgcolor="#FFFFFF">
                                &nbsp;</td>
								<td width="448" height="46" align="left" bgcolor="#FFFFFF">
                                &nbsp;</td>
                            </tr>
							<tr>
								<td width="350" height="36" align="right" bgcolor="#EFEFEF">
                                <font color="#333333">[var.lang_word_videos]</font></td>
								<td width="18" height="36" align="right" bgcolor="#EFEFEF">&nbsp;
								</td>
								<td width="448" height="36" bgcolor="#EFEFEF" align="left">
                                <select size="1" name="video_comments">
                                  <option value="yes" [var.video_comments_yes]>[var.lang_yes]</option>
                                  <option value="no" [var.video_comments_no]>[var.lang_no]</option>
                                </select></tr>
							<tr>
								<td width="350" height="35" bgcolor="#EFEFEF"><p align="right"><font color="#333333">[var.lang_blogs]</font> </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left"><select size="1" name="blog_comments">
                                    <option value="yes" [var.blog_comments_yes]>[var.lang_yes]</option>
                                    <option value="no" [var.blog_comments_no]>[var.lang_no]</option>
                                  </select></tr>
							<tr>
								<td width="350" height="35" bgcolor="#EFEFEF"><p align="right">
                                <font color="#333333">[var.lang_word_Audio]</font> </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left">
                                <select size="1" name="audio_comments">
                                  <option value="yes" [var.audio_comments_yes]>[var.lang_yes]</option>
                                  <option value="no" [var.audio_comments_no]>[var.lang_no]</option>
                                </select></tr>
                            <tr>
								<td width="350" height="35" bgcolor="#EFEFEF"><p align="right"><font color="#333333">[var.lang_word_images]</font> </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left"><select size="1" name="image_comments">
                                    <option value="yes" [var.image_comments_yes]>[var.lang_yes]</option>
                                    <option value="no" [var.image_comments_no]>[var.lang_no]</option>
                                  </select>
                            </tr>
                            <tr>
								<td width="350" height="35" bgcolor="#EFEFEF"><p align="right">
                                <font color="#333333">[var.lang_profiles]</font> </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left">
                                <select size="1" name="profile_comments">
                                  <option value="yes" [var.profile_comments_yes]>[var.lang_yes]</option>
                                  <option value="no" [var.profile_comments_no]>[var.lang_no]</option>
                                </select>
                            </tr>
                            <tr>
								<td width="350" height="51">
                                  <p align="right"><b>[var.lang_general_settings]</b> </p>
 </td>
								<td width="18" height="51">&nbsp;</td>
								<td width="448" height="51" align="left">
                                &nbsp;
                            </tr>
                            <tr>
								<td width="350" height="35" bgcolor="#EFEFEF"><p align="right">
                                <font color="#333333">[var.lang_site_statistics]</font> </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left">
                                <select size="1" name="stats">
                                  <option value="yes" [var.stats_yes]>[var.lang_yes]</option>
                                  <option value="no" [var.stats_no]>[var.lang_no]</option>
                                </select> ([var.lang_show])
                            </tr>
							<tr>
								<td width="350" height="35" bgcolor="#EFEFEF">
                                  <p align="right">[var.lang_confirmation_email] </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left">
                                <select size="1" name="confirmation_email">
                                  <option value="yes" [var.confirmation_email_yes]>[var.lang_yes]</option>
                                  <option value="no" [var.confirmation_email_no]>[var.lang_no]</option>
                                </select> ([var.lang_new_members]) 
                        </tr>
							<tr>
								<td width="350" height="35" bgcolor="#EFEFEF"><p align="right">[var.lang_customize_profile] </td>
								<td width="18" height="35" bgcolor="#EFEFEF">&nbsp;</td>
								<td width="448" height="35" bgcolor="#EFEFEF" align="left">
                                <select size="1" name="custome_profile">
                                  <option value="yes" [var.custome_profile_yes]>[var.lang_yes]</option>
                                  <option value="no" [var.custome_profile_no]>[var.lang_no]</option>
                                </select>  ([var.lang_license_required])
                        </tr>
							<tr>
								<td height="35" colspan="3" width="754">
                                <p align="center">
	<input type ="hidden" name="type" value="[var.show_t]">
								<input type="submit" value="[var.lang_update]" name="update">&nbsp;&nbsp;&nbsp;
    <a href="settings_features.php?id=1">[var.lang_restore_default_settings]</a></td>
							</tr>
							<tr>
								<td height="35" colspan="2" width="313">
								<p align="center">
			&nbsp;</td>
								<td height="35" width="448">&nbsp;</td>
							</tr>
							
						</table>
					</tr>
				</table></form></div>