<html>

<head>
<meta http-equiv="Content-Language" content="en-gb">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>
</head>

<body topmargin="0">

			<div align="center">
				<table border="0" cellpadding="0" cellspacing="0" width="758" bgcolor="#FFFFFF" id="table11">
					
					<tr>
						<td style="border-style: solid; border-width: 0px; " bordercolor="#4B87C2" width="97%" bgcolor="#9FBFDF">
						<table border="0" width="100%" id="table12" cellspacing="0" cellpadding="0">
	<tr>
		<td>
<div align="center">
<table border="0" width="100%" id="table13" cellspacing="0" cellpadding="4" height="155">
<form id="form_results" action="user_permissions.php" method="post">
	<tr>
								<td colspan="4" height="32" width="99%" background="images/right_table_header.png">
                                <p align="left"><b><font face="Arial" size="2">&nbsp; <font color="#29537C">[var.lang_permissions]</font></font></b></td>
							</tr>
	<tr>
		<td width="50%" height="25" bgcolor="#F9F9F9" align="center" class="default_text" colspan="2">
		<b><font face="Arial" size="2" color="#666666">[var.lang_my_content]</font></b></td>
		<td width="49%" height="25" bgcolor="#F9F9F9" align="center" class="default_text" colspan="2">
		<b><font face="Arial" size="2" color="#666666">[var.lang_any_content]</font></b></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text">
        &nbsp;</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <b><font face="Arial" size="2">&nbsp;&nbsp; Editing content</font></b></td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        <b><font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		Editing content</font></b></td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_edit_comments_video]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_comments_video_own">
    <option value="1" [var.edit_comments_video_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_video_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_edit_comments_video]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_comments_video">
    <option value="1" [var.edit_comments_video_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_video_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_edit_comments_blog]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_comments_blog_own">
    <option value="1" [var.edit_comments_blog_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_blog_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_edit_comments_blog]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_comments_blog">
    <option value="1" [var.edit_comments_blog_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_blog_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_edit_comments_audio]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_comments_audio_own">
    <option value="1" [var.edit_comments_audio_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_audio_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_edit_comments_audio]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_comments_audio">
    <option value="1" [var.edit_comments_audio_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_audio_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_edit_comments_pictures]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_comments_pictures_own">
    <option value="1" [var.edit_comments_pictures_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_pictures_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_edit_comments_pictures]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_comments_pictures">
    <option value="1" [var.edit_comments_pictures_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_pictures_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_edit_comments_group]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_comments_group_own">
    <option value="1" [var.edit_comments_group_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_group_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_edit_comments_group]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_comments_group">
    <option value="1" [var.edit_comments_group_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_group_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_edit_comments_profile]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_comments_profile_own">
    <option value="1" [var.edit_comments_profile_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_profile_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_edit_comments_profile]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_comments_profile">
    <option value="1" [var.edit_comments_profile_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_comments_profile_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_edit_details_member]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_details_member_own">
    <option value="1" [var.edit_details_member_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_member_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_edit_details_member]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_details_member">
    <option value="1" [var.edit_details_member_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_member_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_edit_details_video]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_details_video_own">
    <option value="1" [var.edit_details_video_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_video_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_edit_details_video]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_details_video">
    <option value="1" [var.edit_details_video_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_video_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_edit_details_audio]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_details_audio_own">
    <option value="1" [var.edit_details_audio_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_audio_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_edit_details_audio]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_details_audio">
    <option value="1" [var.edit_details_audio_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_audio_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_edit_details_album]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_details_album_own">
    <option value="1" [var.edit_details_album_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_album_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_edit_details_album]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_details_album">
    <option value="1" [var.edit_details_album_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_album_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_edit_details_picture]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_details_picture_own">
    <option value="1" [var.edit_details_picture_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_picture_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_edit_details_picture]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="edit_details_picture">
    <option value="1" [var.edit_details_picture_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_picture_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_edit_details_blog]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_details_blog_own">
    <option value="1" [var.edit_details_blog_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_blog_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_edit_details_blog]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="edit_details_blog">
    <option value="1" [var.edit_details_blog_yes]>[var.lang_yes] </option>
    <option value="0" [var.edit_details_blog_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        &nbsp;</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <b><font face="Arial" size="2">&nbsp;&nbsp; Deleting content</font></b></td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        <b><font face="Arial" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		Deleting content</font></b></td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_del_comments_video]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_comments_video_own">
    <option value="1" [var.del_comments_video_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_video_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_del_comments_video]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_comments_video">
    <option value="1" [var.del_comments_video_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_video_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_del_comments_blog]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_comments_blog_own">
    <option value="1" [var.del_comments_blog_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_blog_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_del_comments_blog]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_comments_blog">
    <option value="1" [var.del_comments_blog_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_blog_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_del_comments_audio]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_comments_audio_own">
    <option value="1" [var.del_comments_audio_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_audio_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_del_comments_audio]</td>
		<td width="15%" height="25" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_comments_audio">
    <option value="1" [var.del_comments_audio_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_audio_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_del_comments_pictures]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_comments_pictures_own">
    <option value="1" [var.del_comments_pictures_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_pictures_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_del_comments_pictures]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_comments_pictures">
    <option value="1" [var.del_comments_pictures_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_pictures_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="23" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_del_comments_group]</td>
		<td width="15%" height="23" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_comments_group_own">
    <option value="1" [var.del_comments_group_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_group_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="23" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_del_comments_group]</td>
		<td width="15%" height="23" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_comments_group">
    <option value="1" [var.del_comments_group_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_group_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_del_comments_profile]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_comments_profile_own">
    <option value="1" [var.del_comments_profile_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_profile_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_del_comments_profile]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_comments_profile">
    <option value="1" [var.del_comments_profile_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_comments_profile_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="23" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_del_blog]</td>
		<td width="15%" height="23" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_blog_own">
    <option value="1" [var.del_blog_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_blog_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="23" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_del_blog]</td>
		<td width="15%" height="23" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_blog">
    <option value="1" [var.del_blog_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_blog_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_del_video]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_video_own">
    <option value="1" [var.del_video_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_video_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_del_video]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_video">
    <option value="1" [var.del_video_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_video_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="23" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_del_audio]</td>
		<td width="15%" height="23" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_audio_own">
    <option value="1" [var.del_audio_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_audio_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="23" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_del_audio]</td>
		<td width="15%" height="23" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_audio">
    <option value="1" [var.del_audio_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_audio_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="25" bgcolor="#F9F9F9" class="default_text" align="left">
		&nbsp;&nbsp;
		[var.lang_del_picture]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_picture_own">
    <option value="1" [var.del_picture_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_picture_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="25" bgcolor="#F9F9F9" align="left" class="default_text" style="border-left: 3px double #666666">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		[var.lang_del_picture]</td>
		<td width="15%" height="25" bgcolor="#F9F9F9" align="left" class="default_text">
		<select size="1" name="del_picture">
    <option value="1" [var.del_picture_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_picture_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="23" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;&nbsp; [var.lang_del_album]</td>
		<td width="15%" height="23" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_album_own">
    <option value="1" [var.del_album_own_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_album_own_no]>[var.lang_no]</option>
  </select></td>
		<td width="34%" height="23" bgcolor="#FFFFFF" align="left" class="default_text" style="border-left: 3px double #666666">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        [var.lang_del_album]</td>
		<td width="15%" height="23" bgcolor="#FFFFFF" align="left" class="default_text">
        <select size="1" name="del_album">
    <option value="1" [var.del_album_yes]>[var.lang_yes] </option>
    <option value="0" [var.del_album_no]>[var.lang_no]</option>
  </select></td>
	</tr>
	<tr>
		<td width="33%" height="27" bgcolor="#FFFFFF" class="default_text" align="left">
        <p align="left">&nbsp;</td>
		<td width="15%" height="27" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
		<td width="34%" height="27" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
		<td width="15%" height="27" bgcolor="#FFFFFF" align="left" class="default_text">
        &nbsp;</td>
	</tr>
	<tr>
		<td width="115%" height="25" bgcolor="#FFFFFF" class="default_menu_blue" colspan="4">
		<p align="center">
							<input type="submit" value="[var.lang_update]" name="update" style="font-family: Arial; font-size: 10pt; letter-spacing: 1; color: #3366CC; border: 1px solid #3366CC; background-color: #FFFFFF"></td>
	</tr>
	        	<input type ="hidden" name="type" value="[var.show_t]">
	</form>
</table>
		</div>
		</td>
	</tr>
</table>

					</tr>
				</table>
			</div>
			
</body>

</html>