<div id="admin-header">
	<span id="ec_logo"><a href="http://phpmotionwiz.com"><img src="http://phpmotionwiz.com/images/eclipse/siteadmin/eclipse_logo.png" /></a></span>
	<span id="pw_logo"><a href="http://phpmotionwiz.com"><img src="http://phpmotionwiz.com/images/eclipse/siteadmin/phpmotionwiz_logo.png" /></a></span>
</div>

<div id="ec_nav">
	<ul>
		<li><a href="eclipse-admin.php">News</a></li>
		<li><a href="eclipse-updates.php">Updates</a></li>
		<li><a href="eclipse-admin_settings.php">Settings</a></li>
		<li><a href="eclipse-admin_comments.php">Manage Comments</a></li>
		<li><a href="eclipse-admin_admanagement.php">Manage Ads</a></li>
		<li><a href="eclipse-skins.php">Eclipse Skins</a></li>
		<li><a href="eclipse-mm-mods.php">MotionMods</a></li>
		<li><a href="http://phpmotionwiz.com/forum/index.php/board,20.0.html" target="_blank">Documentation</a></li>
		<li><a href="http://phpmotionwiz.com/forum" target="_blank">Support</a></li>
	</ul>
</div>

<div class="alert">  
    <p>This Feature is only available with <a href="http://phpmotionwiz.com/products/phpmotion-v3-5-mods/eclipse-theme-detail" target="_blank">Eclipse Pro.</a></p>
</div>

<div class="info">
    <h2><span>Manage Advertisements</span></h2>
      <p>Here you can manage your In-Video advertisements (Flowplayer Only) and Background Ads.</p>
      
      <p>To manage your normal banner ads (Top, Right, etc...), <a href="[var.base_url]/siteadmin/ads.php">Click Here.</a></p>
      
      <p>If you get an "Item not found" or other error below, you may need to <a href="http://phpmotionwiz.com/forum/index.php/topic,479.msg1162.html#msg1162" target="_blank">install OpenX</a>.</p>
            
</div>

  
  <!--Load OpenX in an Iframe-->
    <iframe src="[var.base_url]/openx" style="border: none; width:1200px; height:3000px; overflow: hidden;"">&nbsp;</iframe>
  <!--End OpenX Iframe-->
