<div id="admin-header">
	<span id="ec_logo"><a href="http://phpmotionwiz.com"><img src="http://phpmotionwiz.com/images/eclipse/siteadmin/eclipse_logo.png" /></a></span>
	<span id="pw_logo"><a href="http://phpmotionwiz.com"><img src="http://phpmotionwiz.com/images/eclipse/siteadmin/phpmotionwiz_logo.png" /></a></span>
</div>

<div id="ec_nav">
	<ul>
		<li><a href="eclipse-admin.php">News</a></li>
		<li><a href="eclipse-updates.php">Updates</a></li>
		<li><a href="eclipse-admin_settings.php">Settings</a></li>
		<li><a href="eclipse-admin_comments.php">Manage Comments</a></li>
		<li><a href="eclipse-admin_admanagement.php">Manage Ads</a></li>
		<li><a href="eclipse-skins.php">Eclipse Skins</a></li>
		<li><a href="eclipse-mm-mods.php">MotionMods</a></li>
		<li><a href="http://phpmotionwiz.com/forum/index.php/board,20.0.html" target="_blank">Documentation</a></li>
		<li><a href="http://phpmotionwiz.com/forum" target="_blank">Support</a></li>
	</ul>
</div>



<div class="info" style="background:#E8EFF7 url(http://motionmods.com/logo.png?sm) center right no-repeat">
    <h2 style="width:96%">PHPmotion Mods</h2>
	<span>from <a href="http://motionmods.com" style="color:#6187B3;text-decoration:none" target="_blank">MotionMods.com</a></span>
</div>

<div class="ec_rss">
	<ul>[var.rss_mods;htmlconv=no]</ul>
</div>
 