
<!--Begin Wide Column-->
<div id="column-wide">
  <div id="welcome-container">
    <br />
    <!-- TODO ADD DYNAMIC AUDIO VAR & CHANGE TEXT TO LANG VAR'S! -->
    <ul>
      <span class="font5_14">
      <li><img src="themes/[var.user_theme]/images/icons/display.png" border="0" height="34" width="34" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;
      <a href="videoplaylist.php?keepThis=true&amp;TB_iframe=true&amp;height=580&amp;width=830" class="thickbox">[var.lang_word_my_playlists]</a></li>
      <li><a href="[var.base_url]/uploader.php"><img src="themes/[var.user_theme]/images/icons/aktion.png" border="0" height="34" width="34" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_upload_video]</a></li>
      <li><a href="[var.base_url]/image_uploader.php"><img src="themes/[var.user_theme]/images/icons/kmix.png" border="0" height="34" width="34" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_upload_image]</a><!--[onload;block=li;when [var.enable_images]=1;comm]--></li>
      <li><a href="[var.base_url]/audio_uploader.php"><img src="themes/[var.user_theme]/images/icons/audio_video.png" border="0" height="34" width="34" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_upload_audio]</a><!--[onload;block=li;when [var.enable_audio]=1;comm]--></li>
      <li><a href="[var.base_url]/blogs.php?action=write"><img src="themes/[var.user_theme]/images/icons/amor.png" border="0" height="34" width="34" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_create_blog]</a><!--[onload;block=li;when [var.enable_blogs]=1;comm]--></li>
      <li><a href="[var.base_url]/members/[var.user_name]"><img src="themes/[var.user_theme]/images/icons/messener.png" border="0" height="34" width="34" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_my_profile]</a></li>
      <li><a href="[var.base_url]/edit/editprofile.php?id=[var.user_id]" rel="gb_page_center[870, 450]" target="_blank"><img src="themes/[var.user_theme]/images/icons/lists.png" border="0" height="34" width="34" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_edit_profile]</a></li>
      <li><a href="[var.base_url]/edit/editprivacy.php"  rel="gb_page_center[870, 450]" target="_blank"><img src="themes/[var.user_theme]/images/icons/gpgsm.png" border="0" height="34" width="34" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_privacy_settings]</a></li>
      <li><a href="[var.base_url]/closeaccount.php"  rel="gb_page_center[870, 450]" target="_blank"><img src="themes/[var.user_theme]/images/icons/cancel.png" border="0" height="32" width="32" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_close_account]</a></li>      </span>
    </ul>
    <br />
<br />

<!--PowerTool: InviteMyContacts -->
<div style="width:600px; height:15px; line-height:15px; background-color:#FFFFFF; margin-left:auto; margin-right:auto; text-align:center;clear:both" class="font5_14">
<!--[onload;block=div;when [var.powertool_invitemycontacts] == 1;comm]-->
<strong>Invite Your Friends</strong></div>
<div style="width:600px; height:60px; line-height:60px; background-color:#FFFFFF; margin-left:auto; margin-right:auto; text-align:center">
<!--[onload;block=div;when [var.powertool_invitemycontacts] == 1;comm]-->
&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img src="[var.base_url]/addons/getmycontacts/images/myyahoo.gif" alt="yahoo" border="0" /></a>&nbsp;&nbsp;&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img src="[var.base_url]/addons/getmycontacts/images/mygmail.gif" alt="hotmail" border="0" /></a>&nbsp;&nbsp;&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img src="[var.base_url]/addons/getmycontacts/images/myhotmail.gif" alt="hotmail" border="0" /></a>&nbsp;&nbsp;&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img src="[var.base_url]/addons/getmycontacts/images/mymail.gif" alt="mail.com" border="0" /></a>&nbsp;&nbsp;&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img border="0" src="[var.base_url]/addons/getmycontacts/images/myicq.gif" /></a></div>
<!--PowerTool: InviteMyContacts end -->

</div>

  <div style="height: 222px;">&nbsp;</div>
</div><!--End Wide Column-->

