<div id="column-wide">

  <div id="generic-container" style="height: [var.error_height]">
    <h1 style="text-align:center;">&nbsp; </h1>
    <h1 style="text-align:center;">&nbsp;</h1>
    <center><h1><font color="#DD0000">[var.message_2]</font></h1></center>
    <h1 style="text-align:center;">[var.message]</h1>
    <p style="text-align:center;">&nbsp;</p>
    <p style="text-align:center;">&nbsp;</p>
    <p style="text-align:center;">&nbsp;</p>
  </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</div>

