<!--Begin Top Ad Spot-->
         <div id="ad_top">
            <!--[var.ads_top;htmlconv=no;comm]-->
         </div><!--End Top Ad Spot-->
<!--Begin Wrapper-->
         <div id="wrapper">
           <div id="wrap_back">

<div id="margin_top"></div>
<!-- ================== Begin Left Column ================== -->
  <div id="left_1">
  	
  	<!--Begin News-->
  	  <div class="title_wide"><h1>[var.main_headline]
  	  	<span>[var.lang_added]: ([var.date_created])</span></h1>
  	  </div>
  	  <div class="browse_media">
          <div id="blog_body">
        
        <ul>
        	<li>[var.news_content;htmlconv=no]</li>
        </ul>
        
        </div>
       </div><!--End News-->
  </div><!--End Right Column-->


<!-- ================== Begin Right Column ================== -->
  <div id="right_1">
  	
  	<!--Begin Browse Menu-->
  	  <div class="title_narrow"><h5>[var.lang_latest_news]</h5></div>
  	  <div class="block_narrow">  	  	
  	  	<ul class="block_menu">
        <!--[var.newsflash;htmlconv=no;comm]-->
      </ul>
      
  	  </div><!--End Browse Menu-->
  	
  	<!--Begin Right Ad Spot-->
    <div id="ad_right">
      <!--[var.ads_right;htmlconv=no;comm]-->
    </div><!--End Right Ad Spot-->

  </div><!--End Right Column-->
  
<div class="clear-fix"></div>
     </div>
</div><!--End Wrapper-->