<!--Begin Top Ad Spot-->
         <div id="ad_top">
            <!--[var.ads_top;htmlconv=no;comm]-->
         </div><!--End Top Ad Spot-->
<!--Begin Wrapper-->
         <div id="wrapper">
           <div id="wrap_back">

<div id="margin_top"></div>
<!-- ================== Begin Left Column ================== -->
  <div id="left_1">
  	
  	<!--Begin Upload Image-->
  	 <div class="title_wide">
  	  	<h1>[var.lang_upload_complete]</h1></div>
  	  <div class="form">
        
        <ul>
          	<li>[var.lang_your_upload_complete]</li>
          </ul>
          
          <span>
          <!-- no need to delete this, its auto set by script -->
            <span class="font5_12">[var.lang_all_uploads-approval]</span>
          <!--[onload_328;block=span;when [var.auto_approve]='no';comm]-->
          </span>
        
      </div><!--End Upload Image-->
  </div><!--End Left Column-->
  
  
<!-- ================== Begin Right Column ================== -->
  <div id="right_1">
  	
  	<!--Begin Right Ad Spot-->
    <span id="ad_right_1">
      <!--[var.ads_left;htmlconv=no;comm]-->
    </span><!--End Right Ad Spot-->
  	
  	<!--Begin Browse Menu-->
  	 <div class="title_narrow"><h1>[var.lang_main_menu]</h1></div>
  	  <div class="block_narrow">
  	  	
  	  	<ul class="block_menu">
          <li><a href="uploader.php">[var.lang_upload_video]</a></li>
          <!--[var.audio_inner_upload_video_form1;htmlconv=no;comm]-->
	      <li><a href="image_uploader.php">[var.lang_upload_image]</a><!--[onload;block=li;when [var.enable_images]=1;comm]--></li>
        </ul>
      
  	  </div><!--End Browse Menu-->
  	
  	<!--Begin Right Ad Spot-->
    <div id="ad_right_2">
      <!--[var.ads_right;htmlconv=no;comm]-->
    </div><!--End Right Ad Spot-->

  </div><!--End Right Column-->


<div class="clear-fix"></div>
     </div>
</div><!--End Wrapper-->