<!--Begin Top Ad Spot-->
         <div id="ad_top">
            <!--[var.ads_top;htmlconv=no;comm]-->
         </div><!--End Top Ad Spot-->
<!--Begin Wrapper-->
         <div id="wrapper">
           <div id="wrap_back">

<div id="margin_top"></div>
<!-- ================== Begin Left Column ================== -->
  <div id="left_1">
  	
  	<!--Begin Browse Videos-->
  	  <div class="title_wide">
  	  	<h1>[var.lang_browse_videos]
  	  		
  	  		<span>
  	  			<a href="videos/load/featured">[var.lang_featured]</a>&nbsp;|&nbsp;
                <a href="videos/load/viewed">[var.lang_most_viewed]</a>&nbsp;|&nbsp;
                <a href="videos/load/recent">[var.lang_most_recent]</a>
            </span>
  	  		
  	  		</h1></div>
  	  	
  	  <div class="browse_media"> 
        
        <div id="videos-ajax">
        <div id="videoajax">
        <ul>
          <li>
        <ul>
          <li class="thumb">
          <a class="popup-info" href="videos/[blkfeatured.indexer;block=div]/[blkfeatured.title_seo;htmlconv=no;block=div]">

          <!--Thumb Overlay Title-->
            <div class="browse_media_title"><!--[blkfeatured.title;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></div>
            <div class="v_title2"><!--[blkfeatured.title;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></div>

          <!--Thumb Overlay Duration-->
            <div class="browse_media_duration">[blkfeatured.video_length;block=span;com]</div>

          <!--Begin Popup-Info-->
            <span>
               <div class="popup-info_tmb">
                 <img alt="<!--[blkfeatured.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="uploads/thumbs/[blkfeatured.video_id;block=div].jpg" style="width: 93px; height: 70px;" />
               </div>
               
               <div class="popup-info_title"><!--[blkfeatured.title;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></div>
               
               <div class="popup-info_stats">
                 <strong>[var.lang_category]:</strong> [blkfeatured.channel;block=span;ope=max:20;com]<br />
               </div>

			   <div class="popup-info_rating">
			    <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured.star1;block=div]"  alt="1 Star" />
	            <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured.star2;block=div]"  alt="1 Star" />
	            <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured.star3;block=div]"  alt="1 Star" />
	            <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured.star4;block=div]"  alt="1 Star" />
	            <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured.star5;block=div]"  alt="1 Star" />
			   </div>

			   <div class="popup-info_description">[blkfeatured.description;htmlconv=no;block=span;ope=max:520;comm]</div>
            </span>
             <img alt="<!--[blkfeatured.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="uploads/thumbs/[blkfeatured.video_id;block=div].jpg" /></a></li>
             
             <li class="v_display2">

             	<div class="v_title">
             		<a href="videos/videos/[blkfeatured.indexer;block=li]/[blkfeatured.title_seo;htmlconv=no;block=li]">
             			<!--[blkfeatured.title;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></a>
             	</div>
             	
             	<div class="v_description">[blkfeatured.description;htmlconv=no;block=span;ope=max:250;comm]</div>
             	<div class="v_cat"><strong>[var.lang_category]:</strong> [blkfeatured.channel;block=span;ope=max:20;com]</div>            	

             	</li>
             	
        </ul>
        </li>
        </ul>
      </div>
    </div>
  	  	
  	  	<!-- Pagination start -->
          <div id="pagination">
          	<ul>[var.show_pages;htmlconv=no]</ul>
          </div>
        <!-- Pagination end -->
  	  	
  	  </div><!--End Browse Videos-->
  	
  </div><!--End Left Column-->
  
  
<!-- ================== Begin Right Column ================== -->
  <div id="right_1">
  	  
  	  <!--Begin Right Ad Spot-->
    <span id="ad_right_1">
      <!--[var.ads_left;htmlconv=no;comm]-->
    </span><!--End Right Ad Spot-->
    
  	<!--Begin Category Menu-->
  	  <div class="title_narrow"><h5>[var.lang_sub_categories]</h5></div>
  	  <div class="block_narrow">
  	  	
  	  	<ul class="block_menu">
        <li><a href="subcategory/[blk2.sub_channel_id;block=li]/[blk2.sub_channel_name_seo;block=li]"><!--[blk2.sub_channel_name;block=li;ope=max:25;comm]-->&nbsp;&nbsp;</a></li>
      </ul>
      
  	  </div><!--End Category Menu-->
  	
  	<!--Begin Right Ad Spot-->
    <div id="ad_right_2">
      <!--[var.ads_right;htmlconv=no;comm]-->
    </div><!--End Right Ad Spot-->

  </div><!--End Right Column-->
  
  
  
  <div class="clear-fix"></div>
     </div>
</div><!--End Wrapper-->
