<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="[var.base_url]/themes/[var.user_theme]/css/main.css" rel="stylesheet" type="text/css" media="all">
<link href="../css/main.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>

<div id="Participation-Wrapper">
<div id="Participation-Header">Site Participation Levels</div>

    <div id="Participation">

      <p>Site participation is calculated from the total number of content items (images, videos, blogs and audio) that a member adds to the website.</p>

      <ul>
        <li><img src="[var.base_url]/themes/[var.user_theme]/images/icons/badge_1.png" alt="Newbie" width="120" height="21" /> &nbsp;- up to <strong>25</strong> content items</li>
        <li><img src="[var.base_url]/themes/[var.user_theme]/images/icons/badge_3.png" alt="Jnr Member" width="120" height="21" /> &nbsp;- up to <strong>50</strong> content items</li>
        <li><img src="[var.base_url]/themes/[var.user_theme]/images/icons/badge_2.png" alt="Member" width="120" height="21" />&nbsp; - up to <strong>150</strong> content items</li>
        <li><img src="[var.base_url]/themes/[var.user_theme]/images/icons/badge_4.png" alt="Hero" width="120" height="21" />&nbsp; - <strong>151+</strong> content items</li>
      </ul>
      <p>&nbsp;</p>

    </div>
</div>
</body>
</html>