<!--Begin Top Ad Spot-->
         <div id="ad_top">
            <!--[var.ads_top;htmlconv=no;comm]-->
         </div><!--End Top Ad Spot-->
<!--Begin Wrapper-->
         <div id="wrapper">
           <div id="wrap_back">

<div id="margin_top"></div>
<!-- ================== Begin Left Column ================== -->
  <div id="left_1">
  	
  	<!--Begin Group Admin Menu-->
  	  <div class="title_wide">
  	  	<h1>[var.lang_groups]</h1></div>
  	  <div class="browse_media">        
        <div>
        	<ul>
          <li>
        <ul>
          <li class="thumb">
          <a class="popup-info" href="group_home.php?gid=[blkfeatured.indexer;block=div]">

          <!--Thumb Overlay Title-->
            <div class="browse_media_title"><!--[blkfeatured.group_name;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></div>
            <div class="v_title2"><!--[blkfeatured.group_name;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></div>

          <!--Begin Popup-Info-->
            <span>
               <div class="popup-info_tmb">
                 <img alt="<!--[blkfeatured.group_name;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="uploads/thumbs/[blkfeatured.video_picture;block=div].jpg" style="width: 93px; height: 70px;" />
               </div>
               
               <div class="popup-info_title"><!--[blkfeatured.group_name;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></div>
               
               <div class="popup-info_stats">
                 <strong>[var.lang_word_videos]:</strong> <!--[blkfeatured.group_videos;block=div;ope=max:10;comm]--><br />
               </div>

			   <div class="popup-info_rating">Groups</div>

			   <div class="popup-info_description">[blkfeatured.group_description;htmlconv=no;block=span;ope=max:520;comm]</div>
            </span>
             <img alt="<!--[blkfeatured.group_name;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="uploads/thumbs/[blkfeatured.video_picture;block=div].jpg" /></a></li>
             
             <li class="v_display2">

             	<div class="v_title">
             		<a href="group_home.php?gid=[blkfeatured.indexer;block=div]">
             			<!--[blkfeatured.group_name;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></a>
             	</div>
             	
             	<div class="v_description">[blkfeatured.group_description;htmlconv=no;block=span;ope=max:250;comm]</div>

             	</li>
             	
        </ul>
        </li>
        </ul>
        </div>
        
      </div>
    
  </div><!--End Left Column-->


<!-- ================== Begin Right Column ================== -->
  <div id="right_1">
  	
  	<!--Begin Right Ad Spot-->
    <span id="ad_right_1">
      <!--[var.ads_left;htmlconv=no;comm]-->
    </span><!--End Right Ad Spot-->
  	
  	<!--Begin Browse Menu-->
  	 <div class="title_narrow"><h1>[var.lang_groups]</h1></div>
  	  <div class="block_narrow">  	  	
  	  	<ul class="block_menu">
        <li><a href="groups">[var.lang_all_groups]</a></li>
        <li><a href="groups_more.php?type=1">[var.lang_my_groups]</a></li>
        <li><a href="groups.php?load=featured">[var.lang_featured]</a></li>
        <li><a href="addgroup.php">[var.lang_create_group]</a></li>
      </ul>
  	  </div><!--End Browse Menu-->
  	
  	<!--Begin Right Ad Spot-->
    <div id="ad_right_2">
      <!--[var.ads_right;htmlconv=no;comm]-->
    </div><!--End Right Ad Spot-->

  </div><!--End Right Column-->
  
<div class="clear-fix"></div>
     </div>
</div><!--End Wrapper-->