<!--Begin Browse Videos Ajax-->
    <div id="videoajax">
        <ul>
        <li>
        <ul>
          <li class="thumb">
          <a class="popup-info" href="videos/[blkfeatured_videos.indexer;block=div]/[blkfeatured_videos.title_seo;htmlconv=no;block=div]">

          <!--Thumb Overlay Title-->
            <div class="browse_media_title"><!--[blkfeatured_videos.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]--></div>

          <!--Thumb Overlay Duration-->
            <div class="browse_media_duration">[blkfeatured_videos.video_length;block=span;com]</div>

          <!--Begin Popup-Info-->
            <span>
               
               <div class="popup-info_tmb">
                 <img alt="<!--[blkfeatured_videos.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="uploads/thumbs/[blkfeatured_videos.video_id;block=div].jpg" style="width: 93px; height: 70px;" />
               </div>
               
               <div class="popup-info_title"><!--[blkfeatured_videos.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]--></div>
               
               <div class="popup-info_stats">
                 <strong>[var.lang_category]:</strong> [blkfeatured_videos.channel;block=span;ope=max:20;com]<br />
               </div>

               <div class="popup-info_rating">
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_videos.star1;block=div]" alt="1 Star" />
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_videos.star2;block=div]" alt="1 Star" />
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_videos.star3;block=div]" alt="1 Star" />
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_videos.star4;block=div]" alt="1 Star" />
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_videos.star5;block=div]" alt="1 Star" />
               </div>

               <div class="popup-info_description">[blkfeatured_videos.description;htmlconv=no;block=span;ope=max:520;comm]</div>
            </span>
             <img alt="<!--[blkfeatured_videos.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="uploads/thumbs/[blkfeatured_videos.video_id;block=div].jpg" /></a></li>
             
             <li class="v_display">

             	<div class="v_title">
             		<a href="videos/[blkfeatured_videos.indexer;block=li]/[blkfeatured_videos.title_seo;htmlconv=no;block=li]"><!--[blkfeatured_videos.title;htmlconv=no;ope=max:40;maxhtml;block=div;comm]--></a>
             	</div>
             	
             	<div class="v_description">[blkfeatured_videos.description;htmlconv=no;block=span;ope=max:250;comm]</div>
             	<div class="v_cat"><strong>[var.lang_category]:</strong> [blkfeatured_videos.channel;block=span;ope=max:20;com]</div>            	

             	</li>
             	
        </ul>
        </li>
        </ul>
        <!--[onload_1;block=div;when [var.load_block]=videos;comm]-->
    </div>
  <!--End Browse Videos Ajax-->
  
  <!--Begin Browse Audios Ajax-->
    <features_audio>
      <div id="audioajax">
     <ul><li>   
     <ul>
      <li class="thumb">
      <a class="popup-info" href="audio/[blkfeatured_audios.indexer;block=div]/[blkfeatured_audios.title_seo;htmlconv=no;block=div]">
        
        <!--Thumb Overlay Title-->
           <div class="browse_media_title"><!--[blkfeatured_audios.title;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></div>

        <!--Thumb Overlay Duration-->
           <div class="browse_media_duration">[blkfeatured_audios.audio_length;block=span;com]</div>
           
           <span>
            
                         <div class="popup-info_tmb">
                            <img alt="<!--[blkfeatured_audios.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="[blkfeatured_audios.album_pic]" style="width: 93px; height: 70px;" />
                         </div>
                         
                         <div class="popup-info_title"><!--[blkfeatured_audios.title;htmlconv=no;block=div;ope=max:20;maxhtml;comm]--></div>
                         
                         <div class="popup-info_stats">
                           <strong>[var.lang_category]:</strong> [blkfeatured_audios.channel;block=span;ope=max:20;com]<br />
                         </div>


                         <div class="popup-info_rating">
                           <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_audios.star1;block=div]" alt="1 Star" />
                           <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_audios.star2;block=div]" alt="1 Star" />
                           <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_audios.star3;block=div]" alt="1 Star" />
                           <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_audios.star4;block=div]" alt="1 Star" />
                           <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_audios.star5;block=div]" alt="1 Star" />
                         </div>

                         <div class="popup-info_description">
                           [blkfeatured_audios.description;htmlconv=no;block=span;ope=max:520;comm]
                         </div>

                       </span>
        
        
        <img alt="<!--[blkfeatured_audios.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="[blkfeatured_audios.album_pic]"  /></a>
      </li>
      
      <li class="v_display">

             	<div class="v_title">
             		<a href="audio/[blkfeatured_audios.indexer;block=li]/[blkfeatured_audios.title_seo;htmlconv=no;block=li]"><!--[blkfeatured_audios.title;htmlconv=no;block=div;ope=max:40;maxhtml;comm]--></a>
             	</div>
             	
             	<div class="v_description">[blkfeatured_audios.description;htmlconv=no;block=span;ope=max:250;comm]</div>
             	<div class="v_cat"><strong>[var.lang_genre]:</strong> [blkfeatured_audios.channel;block=span;ope=max:20;com]</div>            	

             	</li>
             	
    </ul>
    </li></ul>
    </div></div>
</div>
<!--[onload_2;block=features_audio;when [var.load_block]=audios;comm]-->
</features_audio>


  <!--Begin Browse Images Ajax-->
    <features_images>
        <div id="imageajax">
        <ul>
          <li>
        <ul>
          <li class="thumb">
          <a class="popup-info" href="view-image/[blkfeatured_images.indexer;block=div]/[blkfeatured_images.title_seo;htmlconv=no]">

          <!--Thumb Overlay Title-->
            <div class="browse_media_title"><!--[blkfeatured_images.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]--></div>

          <!--Begin Popup-Info-->
            <span>
                
               <div class="popup-info_tmb">
                 <img alt="<!--[blkfeatured_images.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="addons/albums/thumbs/[blkfeatured_images.image_id;block=div]" style="width: 93px; height: 70px;" />
               </div>
                
               <div class="popup-info_title"><!--[blkfeatured_images.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]--></div>
               
               <div class="popup-info_stats">
                 <strong>[var.lang_uploaded]:</strong> [blkfeatured_images.date_uploaded;block=span;com]
               </div>

               <div class="popup-info_rating">
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_images.star1;block=div]"  alt="1 Star" />
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_images.star2;block=div]"  alt="1 Star" />
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_images.star3;block=div]"  alt="1 Star" />
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_images.star4;block=div]"  alt="1 Star" />
                <img style="width:12px; height:12px; border:none; box-shadow: none; -moz-box-shadow: none; background: transparent;" src="addons/mw_eclipse/popup-info/images/[blkfeatured_images.star5;block=div]"  alt="1 Star" />
               </div>

               <div class="popup-info_description">[blkfeatured_images.description;htmlconv=no;block=span;ope=max:520;comm]</div>
            </span>
             <img alt="<!--[blkfeatured_images.title;htmlconv=no;ope=max:20;maxhtml;block=div;comm]-->" src="addons/albums/thumbs/[blkfeatured_images.image_id;block=div]"  /></a></li>
             
             <li class="v_display">

             	<div class="v_title">
             		<a href="view-image/[blkfeatured_images.indexer;block=div]/[blkfeatured_images.title_seo;htmlconv=no]"><!--[blkfeatured_images.title;htmlconv=no;block=div;ope=max:40;maxhtml;comm]--></a>
             	</div>
             	
             	<div class="v_description">[blkfeatured_images.description;htmlconv=no;block=span;ope=max:250;comm]</div>
             	</li>
             	
        </ul>
        </li>
        </ul>
    </div>
   <!--[onload_2;block=features_images;when [var.load_block]=images;comm]-->
  </features_images><!--End Browse Images Ajax-->
