<html>
	<head>
		<link href="[var.base_url]/themes/[var.user_theme]/css/skin.css" rel="stylesheet" type="text/css" media="all">
	    <link href="[var.base_url]/themes/[var.user_theme]/css/main.css" rel="stylesheet" type="text/css" media="all">
	</head>
	
	
<body>
<!--Begin Top Ad Spot-->
         <div id="ad_top">
            <!--[var.ads_top;htmlconv=no;comm]-->
         </div><!--End Top Ad Spot-->
    <!--Begin Wrapper-->
         <div id="wrapper">
           <div id="wrap_back">
<div style="border: 1px solid #d1d1d1">
	
	<div style="background:url([var.base_url]/edit/images/background_tables.png); color:#0099ff; font-weight:bold; font-size:16px; border-bottom: 1px solid #d1d1d1; padding: 5px;">
		Account Settings</div>
	

   <div class="media_info" style="width:98%;">
   	<ul>
      <li><a href="[var.base_url]/closeaccount.php"  rel="gb_page_center[870, 450]" target="_blank"><img src="addons/mw_eclipse/skin/images/icons/cancel.png" border="0" height="32" width="32" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;&nbsp;[var.lang_close_account]</a></li>
    </ul>

<!--PowerTool: InviteMyContacts -->
<div style="width:600px; height:15px; line-height:15px; background-color:#FFFFFF; margin-left:auto; margin-right:auto; text-align:center;clear:both" class="font5_14">
<!--[onload;block=div;when [var.powertool_invitemycontacts] == 1;comm]-->
<strong>Invite Your Friends</strong></div>
<div style="width:600px; height:60px; line-height:60px; background-color:#FFFFFF; margin-left:auto; margin-right:auto; text-align:center">
<!--[onload;block=div;when [var.powertool_invitemycontacts] == 1;comm]-->
&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img src="[var.base_url]/addons/getmycontacts/images/myyahoo.gif" alt="yahoo" border="0" /></a>&nbsp;&nbsp;&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img src="[var.base_url]/addons/getmycontacts/images/mygmail.gif" alt="hotmail" border="0" /></a>&nbsp;&nbsp;&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img src="[var.base_url]/addons/getmycontacts/images/myhotmail.gif" alt="hotmail" border="0" /></a>&nbsp;&nbsp;&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img src="[var.base_url]/addons/getmycontacts/images/mymail.gif" alt="mail.com" border="0" /></a>&nbsp;&nbsp;&nbsp;<a href="addons/getmycontacts/index.php"  rel="gb_page_center[750, 500]"><img border="0" src="[var.base_url]/addons/getmycontacts/images/myicq.gif" /></a></div>
<!--PowerTool: InviteMyContacts end -->

</div>
<div class="clear-fix"></div>
</div>
<div class="clear-fix"></div>
     </div>
</div><!--End Wrapper-->
</body>
</html>

