<head>
	<script type="text/javascript">
        function openSite(thisELE)
        {
        var index = thisELE.selectedIndex;

        if(index > 0)
        {
        window.location = thisELE.options[index].value;
        }
        }
      </script>
</head>

<!--Begin Top Ad Spot-->
         <div id="ad_top">
            <!--[var.ads_top;htmlconv=no;comm]-->
         </div><!--End Top Ad Spot-->
         
<!--Begin Wrapper-->
         <div id="wrapper">
           <div id="wrap_back">
               
<div id="margin_top"></div>
<!-- ================== Begin Left Column ================== -->
  <div id="left_1">
  	
  	<!--Begin Upload Video-->
  	  <div class="title_wide">
  	  	<h1>[var.lang_upload_video]</h1></div>
  	  <div class="form">
        
        <form name="form_upload" action="uploader.php" method="post">
        <ul>
        	
        	 <li><strong>Change Media Type:</strong>
                  <select onchange="openSite(this)">
                   <option value="-1">[var.lang_word_videos]</option>
                   
                   <option value="addons/videograbber/upload.php" rel="gb_page_center[600, 450]">[var.lang_youtube]
                   	    <!--[onload;block=option;when [var.powertool_videograbber] == 1;comm]--></option>
                   <option value="[var.base_url]/audio_uploader.php">[var.lang_word_audios]</option>
                   <option value="[var.base_url]/image_uploader.php">[var.lang_word_images]</option>
	              </select>
	         </li>
	    
        	<li><strong>[var.lang_title]:</strong><br />
        		<input class="input" name="title" type="text" value="[var.title]" /></li>
        		
        	<li><strong>[var.lang_description]:</strong><br />
        		<textarea class="input" name="description"></textarea></li>
        	
        	<li><strong>[var.lang_tags]:</strong><br />
        		<input class="input" name="tags" type="text" value="[var.tags]" />
        		<div class="upload-video-tags">[var.lang_enter_tags].<br />
                [var.lang_enter_tags_description].</div>
            </li>
            
            <li><strong>[var.lang_select_category]:</strong><br />
        		<select class="input" size="1" name="channel" onchange="javascript:ahahscript.ahah('[var.base_url]/uploader.php?sub_cat='+ document.form_upload.channel.value, 'sub_change', '', 'GET', '', this);">
                  &nbsp;[var.fields_all;htmlconv=no]</select>&nbsp;([var.lang_select_one])</li>
            
            <li id="sub_change"></li>
                
            <span id="showuploadoptions">
            	<li><h1>Optional Info</h1></li>
            	<li><strong>[var.lang_location_recorded]:</strong><br />
        		    <input class="input" name="location_recorded" type="text" value="[var.location_recorded]" /></li>
        		
        		<li><strong>[var.lang_allow_comm]:</strong><br />
        		    <select class="input" size="1" name="allow_comments">
                      <option value="yes" selected="selected">[var.lang_yes]</option>
                      <option value="no">[var.lang_no]</option>
                    </select>
                </li>
                  
                <li><strong>[var.lang_allow_embed]:</strong><br />
                  <select class="input" size="1" name="allow_embedding">
                    <option value="yes" selected="selected">[var.lang_yes]</option>
                    <option value="no">[var.lang_no]</option>
                  </select>
                </li>

          	    <li><strong>[var.lang_private_pub]:</strong><br />
           	      <select class="input" size="1" name="public_private">
           	        <option value="public" selected="selected">[var.lang_public]</option>
           	        <option value="private">[var.lang_private]</option>
           	      </select>
           	    </li>
            </span>
            
            <span id="hideuploadoptions"></span>
       
            
            <li>
            	<div id="options"><a style="cursor:pointer;" onClick="showuploadoptions()">Show Optional Info</a>, or</div>
            	<div class="submit"><input type="submit" value="Continue to Upload &gt;&gt;" name="B3" /></div>
            </li>
            <li><input class="upload-video-form-input" type="hidden" name="form_submitted" value="yes" /></li>
        	
        </ul>
        </form>      
      </div><!--End Upload Video-->
      
  </div><!--End Left Column-->


<!-- ================== Begin Right Column ================== -->
  <div id="right_1">
  	
  	<!--Begin Right Ad Spot-->
    <span id="ad_right_1">
      <!--[var.ads_left;htmlconv=no;comm]-->
    </span><!--End Right Ad Spot-->
  	
  	<!--Begin Browse Menu-->
  	 <div class="title_narrow"><h1>[var.lang_main_menu]</h1></div>
  	  <div class="block_narrow">
  	  	
  	  	<ul class="block_menu">
          <li><a href="uploader.php">[var.lang_upload_video]</a></li>
          <!--[var.audio_inner_upload_video_form1;htmlconv=no;comm]-->
	      <li><a href="image_uploader.php">[var.lang_upload_image]</a><!--[onload;block=li;when [var.enable_images]=1;comm]--></li>
        </ul>
      
  	  </div><!--End Browse Menu-->
  	
  	<!--Begin Right Ad Spot-->
    <div id="ad_right_2">
      <!--[var.ads_right;htmlconv=no;comm]-->
    </div><!--End Right Ad Spot-->

  </div><!--End Right Column-->
  
<div class="clear-fix"></div>
     </div>
</div><!--End Wrapper-->