<!--Begin Top Ad Spot-->
         <div id="ad_top">
            <!--[var.ads_top;htmlconv=no;comm]-->
         </div><!--End Top Ad Spot-->
<!--Begin Wrapper-->
         <div id="wrapper">
           <div id="wrap_back">

<div id="margin_top"></div>
<!-- ================== Begin Left Column ================== -->
  <div id="left_1">
  	
  	<!--Begin Browse Videos-->
  	  <div class="title_wide">
  	  	<h1>[var.lang_word_inbox]
  	  		
  	  		<span>
  	  			<a href="emailinbox.php">[var.lang_word_inbox]</a>&nbsp;|&nbsp;
                <a href="emailsentitems.php">[var.lang_sent]</a>&nbsp;|&nbsp;
                <a href="emailcompose.php">[var.lang_compose_new]</a>&nbsp;|&nbsp;
                <a href="inviteread.php">[var.lang_received_invites]</a>
            </span>
  	  		
  	  		</h1></div>
  	  		
  	  <div class="browse_media">
        
    <div class="email-list">
    <ul>
      <li class="email-heading"><strong><!--[var.to_or_from;comm]-->:</strong>&nbsp;<!--[var.friends_name;ope=max:100;comm]--></li>
      <li class="email-heading" style="border-top:none;"><strong>[var.lang_subject]:</strong>&nbsp;<!--[var.subject;ope=max:250;comm]--></li>

      <li class="email-message-li"><div class="email-message"><!--[var.message;htmlconv=no;comm]--></div></li>
      <li class="email-heading" style="text-align:right;"><a href="emailcompose.php?uid=[var.friends_id]&amp;id=[var.email_id]">&bull; [var.lang_reply]</a>
      <!--[onload_312;block=li;when [var.show_reply]=1;comm]--></li>
    </ul>
    </div>
        
      </div>
      
  </div><!--End Left Column-->


<!-- ================== Begin Right Column ================== -->
  <div id="right_1">
  	
  	<!--Begin Right Ad Spot-->
    <div id="ad_right">
      <!--[var.ads_right;htmlconv=no;comm]-->
    </div><!--End Right Ad Spot-->

  </div><!--End Right Column-->
  
<div class="clear-fix"></div>
     </div>
</div><!--End Wrapper-->