<!--Begin Left Column-->
<div id="column-left-2">
  <!--Begin Images Menu-->
    <div class="header-narrow"><h3><!--[var.see_more_title;comm]-->&nbsp;[var.lang_word_albums]</h3></div>

      <div class="whats-showing">
        <ul>
          <li><a href="albums/load/featured">[var.lang_featured]</a></li>
          <li><a href="albums/load/viewed">[var.lang_most_viewed]</a></li>
          <li><a href="albums/load/recent">[var.lang_most_recent]</a></li>
        </ul>
      </div>
     <div class="container-narrow-bottom"></div><!--End Images Menu-->


    <!--Begin Images Categories Menu-->
      <div class="header-narrow"><h3>[var.lang_member_albums]</h3></div>
      <div class="whats-showing">
        <ul>
          <li><a href="view-album/[blk1.gallery_id]/[blk1.gallery_name_seo;block=li]"><!--[blk1.gallery_name;block=li;ope=max:18;comm]--></a>&nbsp;-&nbsp;(<!--[blk1.img_count;comm]-->)</li>
          <li>&nbsp;</li>
        </ul>
      </div>
     <div class="container-narrow-bottom"></div><!--End Images Categories Menu-->

   <!--Begin Popular Images Tag Cloud-->
     <div class="header-narrow"><h3>[var.lang_tags_popular_images]</h3></div>
       <div class="whats-showing">
          <!--[var.tag_cloud_block;htmlconv=no;comm]-->
       </div>
     <div class="container-narrow-bottom"></div><!--End Popular Images Tag Cloud-->

   <!--Begin Left Advert-->
      <div class="container-narrow-top"></div>
        <div id="advert-left">
          <!--[var.ads_left;htmlconv=no;comm]-->
        </div>
      <div class="container-narrow-bottom"></div><!--End Left Advert-->

    </div><!--End Left Column-->

  <!--Begin Right Column-->
    <div id="column-right-2">