<!--Begin Left Column-->
    <div id="column-left-2">
    <!--Begin Upload Menu-->
      <div class="header-narrow"><h3>[var.lang_main_menu]</h3></div>
      <div class="whats-showing">
        <ul>
          <li><a href="uploader.php">[var.lang_upload_video]</a></li>
              <!--[var.audio_inner_upload_video_form1;htmlconv=no;comm]-->
	      <li><a href="image_uploader.php">[var.lang_upload_image]</a></li>
        </ul>
      </div>
     <div class="container-narrow-bottom"></div><!--End Upload Menu-->

   <!--Begin Left Advert-->
      <div class="container-narrow-top"></div>
        <div id="advert-left">
          <!--[var.ads_left;htmlconv=no;comm]-->
        </div>
      <div class="container-narrow-bottom"></div><!--End Left Advert-->

    </div><!--End Left Column-->

  <!--Begin Right Column-->
    <div id="column-right-2">

      <div class="container-wide-header"></div>
        <div class="container-wide">

         <div>
         <h1>[var.lang_upload_complete]!</h1>

          [var.lang_your_upload_complete]

            <br /><br /><span class="font5_12"><a href="uploader.php">&gt;&gt; [var.lang_upload_another_file] &lt;&lt;</a></span><br /><br />
          <span>
          <!-- no need to delete this, its auto set by script -->
            <span class="font5_12">[var.lang_all_uploads-approval]</span>
          <!--[onload_328;block=span;when [var.auto_approve]='no';comm]-->
          </span>
        </div>

      </div>
    <div class="container-wide-footer"></div>

     <div style="height: 280px;">&nbsp;</div>

    </div><!--End Right Column-->

