<!--Begin Left Column-->
<div id="column-left-2">
  <!--Begin News Flash-->
  <div class="header-narrow">[var.lang_latest_news]</div>
    <div class="container-narrow">
      <ul class="content-list-narrow">
        <li><!--[var.newsflash;htmlconv=no;comm]--></li>
      </ul>
    </div>
    <div class="container-narrow-bottom"></div>
    <!--End News Flash-->
    <!--Begin Left Advert-->
    <div class="container-narrow-top"></div>
    <div id="advert-left"><!--[var.ads_left;htmlconv=no;comm]--></div>
    <div class="container-narrow-bottom"></div>
    <!--End Left Advert-->
  </div><!--End Left Column-->
  <!--Begin Right Column-->
  <div id="column-right-2">
    <div id="blog-read">
      <ul class="news-list-info">
        <li class="news-title"><h1>[var.main_headline]</h1></li>
        <li class="news-info">[var.lang_added]: ([var.date_created])</li>
        <li>[var.news_content;htmlconv=no]</li>
      </ul>
      <div class="clear-fix"></div>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</div>
<!--End Right Column-->