<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>[var.lang_upload_video_response]</title>

<link href="css/main.css" rel="stylesheet" type="text/css" />

</head>



<body>

  <div id="UploadComplete">

    <br />

    <span class="font5_16">[var.lang_upload_complete]</span>

    <br />

    <br />

    [var.lang_your_upload_complete].

    <br />

    <br />

    <!-- no need to delete this, its auto set by script -->

    <span class="font5_12"><b>[var.lang_all_uploads_approval]</b></span>

    <!--[onload_328;block=span;when [var.auto_approve]='no';comm]-->

  </div>

<div class="clearfix2"></div>

</body>

</html>